body {
  background-color: #eee;
  font-family: "Noto Sans JP", sans-serif;
}
i.main-tool {
  font-size: 4rem;
}
i.main-tool:hover {
  cursor: pointer;
  animation-name: icon;
  animation-duration: 2s;
}

div#screw {
  width: 100%;
  display: flex;
  justify-content: center;
  height: 6rem;
  align-items: center;
  padding-top: 4rem;
  position: relative;
  top: 50px;
}

div#screw i {
  font-size: 7rem;
  color: rgba(0, 0, 0, 0.5);
}
i.screwdrive {
  animation: 4s linear infinite screw;
}
header {
  display: flex;
  position: fixed;
  top: 0;
  background-color: #eee;
  z-index: 1;
}
#head-logo {
  width: 60vw;
  display: flex;
  margin: 1.255rem;
}
h1.header-text {
  margin: 0;
  margin-left: 0.96rem;
  align-self: center;
  font-family: "Abril Fatface", cursive;
}
ul#head-nav {
  list-style: none;
  display: flex;
  padding-left: 0;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}
nav#nav-bar {
  width: 35vw;
}
form {
  padding: 4rem;
}

li > a.nav-link {
  color: #333;
  font-size: 1.2rem;
}

#the-form {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("handman.jpg");
  height: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.form-group {
  display: flex;
  justify-content: center;
}
.form-group h2 {
  font-size: 2rem;
  color: #eee;
}
#submit {
  width: 50%;
}

.about-area {
  display: flex;
  padding: 0.25rem;
  margin: 0;
}
.icon {
  width: 20vw;
  height: 125px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon-desc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 80vw;
  padding-left: 2.4rem;
}
.icon-desc p {
  margin: 0;
  font-size: 0.87rem;
}
.container {
  max-width: 1000px;
}
#about {
  padding-top: 8rem;
}
.container-fluid {
  padding-top: 4rem;
  margin-top: 6rem;
  z-index: -9;
}
h3 {
  font-size: 1.3rem;
  margin: 0;
  font-weight: 800;
}
section {
  margin-top: 2rem;
}
section#video-area {
  display: flex;
  justify-content: center;
}
footer > * {
  margin: 0;
  padding: 0;
}
footer {
  background-color: #ddd;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  margin-top: 1rem;
  padding: 0.5rem;
}
footer p {
  font-size: 14px;
  padding-top: 0.5rem;
}

ul#foot {
  display: flex;
  list-style: none;
}
ul#foot li {
  padding: 0 0.25rem;
}
@media (max-width: 800px) {
  ul#head-nav {
    flex-direction: column;
    margin: 0;
  }
  input#email {
    width: 80%;
  }
  a.nav-link {
    padding: 0;
    font-size: 1rem;
  }
  h1.header-text {
    font-size: 2rem;
  }
  form {
    padding: 2rem;
  }
  i {
    font-size: 3rem;
  }
}
@media (max-width: 600px) {
  #head-logo {
    width: 100vw;
  }
  header {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  h1.header-text {
    margin: 0 auto;
  }
  form {
    padding: 0;
    padding: 10px 0;
  }
  .container-fluid {
    margin-top: 10rem;
  }
  #head-logo {
    margin-bottom: 0;
  }
}

@keyframes icon {
  100% {
    color: green;
  }
}
@keyframes screw {
  0% {
  }
  100% {
    transform: rotate(360deg);
  }
}
